<messageML>
    <h3>Hello <mention uid="{{userID}}" /></h3>
    <p>You were added to the {{portName}} portfolio for ${{round 2 amountInvested}}.</p>
    <p>To view a summary of this portfolio, please type "@BergBot /view"</p>
</messageML>