<messageML>
    <h2>Allocation</h2>

    <form id="get-Allocation">
     <h3>Ticker Input</h3>
       
    <text-field name="ticker" placeholder="Type ticker name"/>
            
            
    <h5>Dropdown Select</h5>
            
    <select name="Buying Option">
                                    
      <option value="Number of Shares">Number of Shares</option>
                  
      <option value="Price">Price</option>
              
    </select>
     <h3>Amount Input</h3>
       
    <text-field name="Amount" placeholder="Type in amount"/>
            
        <button name="submit" type="action">Send Answers</button>

    </form>

</messageML>
