<messageML>
    <h2>Hello
        <mention email="{{this}}" />. Here are some of the commands that you will be using:
    </h2>
    <p>Click on the command to view more info about it</p>
    <ul style="list-style-type: none;">
        <li>
            <card accent="tempo-bg-color--blue">
                <header>/buy</header>

                <body>
                    Card Body. User must click to view it (when the card is sent collapsed/cropped).
                    [it may contain a title, a paragraph, other elements for e.g. data bar and action bar]
                </body>
            </card>
        </li>
        <li>
            <card accent="tempo-bg-color--blue">
                <header>/sell</header>

                <body>
                    Card Body. User must click to view it (when the card is sent collapsed/cropped).
                    [it may contain a title, a paragraph, other elements for e.g. data bar and action bar]
                </body>
            </card>
        </li>
        <li>
            <card accent="tempo-bg-color--blue">
                <header>/portfolio</header>

                <body>
                    Card Body. User must click to view it (when the card is sent collapsed/cropped).
                    [it may contain a title, a paragraph, other elements for e.g. data bar and action bar]
                </body>
            </card>
        </li>
        <li>
            <card accent="tempo-bg-color--blue">
                <header>/something</header>

                <body>
                    Card Body. User must click to view it (when the card is sent collapsed/cropped).
                    [it may contain a title, a paragraph, other elements for e.g. data bar and action bar]
                </body>
            </card>
        </li>
    </ul>
</messageML>