<messageML>
    <h2>Please select a portfolio or create a new one</h2>
    <form id="selectPortfolio">
        <select name="portfolios">
            {{#if (isNotClient option)}}
            <option value="new-port" selected="true">Create New Portfolio</option>
            {{else}}{{/if}}
            {{#each portfolioList}}
            <option value="{{ name }}">{{ name }}</option>
            {{/each}}
        </select>
        <button type="action" name="select-portfolio">Next</button>
        <div style="visibility: hidden; font-size: 0vw;">
            <radio name="workflow" value="{{option}}" checked="true"></radio>
        </div>
    </form>
</messageML>