<messageML>
    <h2>Please select a portfolio or create a new one</h2>
    <form id="selectPortfolio">
        <select name="portfolios">
            <option value="new-port" selected="true">Create New Portfolio</option>
            {{#each this}}
            <option value="{{ name }}">{{ name }}</option>
            {{/each}}
        </select>
        <button type="action" name="select-portfolio">Next</button>
    </form>
</messageML>